<div class="">
    <div class="">
        <img src="" alt="" class="">
        <h3 class=""></h3>
        <p class=""></p>
    </div>
    <div class="">
        <p class=""></p>
        <p class=""></p>
        <p class=""></p>
        <p class=""></p>
    </div>
    <div class="">
        <p class=""></p>
        <ul class="">
            <li *ngFor="let cont of []" class="">
                <img src="" alt="" class="">
                <div class="">
                    <p class=""></p>
                    <span class=""></span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="">

</div>