<div class="">
    <div class="">
        <img src="" alt="" class="">
        <h3 class=""></h3>
        <p class=""></p>
    </div>
    <div class="">
        <p class=""></p>
        <p class=""></p>
        <p class=""></p>
        <p class=""></p>
    </div>
    <div class="">
        <p class=""></p>
        <ul class="">
            <li *ngFor="let cont of []" class="">
                <img src="" alt="" class="">
                <div class="">
                    <p class=""></p>
                    <span class=""></span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="">
    <form class="">
        <div class="">
            <p class=""></p>
            <label for="" class="">
                <input type="text" class="">
            </label>
            <label for="" class="">
                <input type="text" class="">
            </label>
            <label for="" class="">
                <input type="text" class="">
            </label>
            <label for="" class="">
                <select name="" id="" class="">
                    <option value="1">Мужской</option>
                    <option value="0">Женский</option>
                </select>
            </label>
            <mat-form-field class="w-100">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class=""></div>
    </form>
</div>