.archive-top {
  border-radius: 4px;
  background: #fff;
  padding: 8px 16px;
  margin: 0px;
}

.archive-caption {
  color: #000;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.archive-desc {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.archive-card {
  border-radius: 4px;
  background: #fff;
  padding: 16px;
  margin: 0px;
  margin-top: 5px;
}
