<div class="auth-container d-flex w-100">
    <div class="w-50 h-100 d-flex justify-content-center">
        <form [formGroup]="loginForm" class="d-flex flex-column login-form" (ngSubmit)="onSubmit()">
            <h1 class="login-heading">
                Ассалому алайкум!
            </h1>
            <p class="login-desc">
                Чтобы войти, введите ваш логин и пароль.
            </p>
            <label class="d-flex flex-column login-label">
                Ваш логин
                <input type="text" formControlName="login" class="login-input" placeholder="Логин">
            </label>
            <label class="d-flex flex-column login-label">
                Ваш пароль
                <input type="password" formControlName="password" class="login-input" placeholder="Пароль">
            </label>
            <button type="submit" class="btn btn-primary login-btn">Войти</button>
        </form>
    </div>
    <div class="w-50 h-100">
        <img src="../../../../assets/bg.png" class="w-100 h-100" alt="">
    </div>
</div>