<div class="w-100 d-flex align-items-center justify-content-between bg-white header-container">
    <div class="w-50">
        <input type="text" class="w-100 header-input" placeholder="search">
    </div>
    <div class="d-flex align-items-center">
        <button class="btn">
            <img src="../../../assets/notification.svg" width="24" height="24" alt="" class="">
        </button>
        <div class="d-flex align-items-center">
            <img src="../../../assets/profile.png" alt="" width="44" height="44" class="profile-img">
            <div class="profile-div">
                <p class="header-name">Jerome Bell</p>
                <p class="header-id">ID: 123957</p>
            </div>
        </div>
    </div>
</div>