.header-container {
  padding: 12px 20px;
  border-left: 1px solid rgba(178, 176, 176, 0.1);
}
.header-input {
  border: none;
}
.header-input:focus {
  outline: none;
}
.profile-img {
  cursor: pointer;
}
.avatar {
  border-radius: 50%;
}
.profile-div {
  margin-left: 8px;
}
.header-name {
  color: #101828;
  font-family: "Inter-500";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}
.header-id {
  color: #667085;
  font-family: "Inter-400";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  margin-top: 1px;
}
